{% if site.twitter_user %}
<section>
  <a
    href="http://twitter.com/{{ site.twitter_user }}"
    rel="me"
    class="twitter-follow-button"
    data-show-count="{{ site.twitter_show_follower_count }}"
    >Follow @{{ site.twitter_user }}</a
  >

  <div id="about-alex">
    <p>
      I'm Alex Sexton. I live in Austin TX. I'm a software engineer at
      <a href="https://pierre.co/">pierre.co</a>. A long time ago I helped make
      <a href="http://modernizr.com/">Modernizr</a>,
      <a href="https://jquery.org/">jQuery</a>, and JavaScript's first
      implementation of
      <a href="https://messageformat.github.io/messageformat/"
        >ICU MessageFormat</a
      >.
    </p>
    <p>
      Here's my
      <a
        target="_blank"
        href="https://keybase.io/slexaxton/key.asc"
        rel="pgpkey"
        >Public GPG Key</a
      ><br />
      <small
        >verified at
        <a target="_blank" href="https://keybase.io/slexaxton"
          >keybase.io/slexaxton</a
        ></small
      ><br />
      <small>9D44 FE16 DDD6 80BC 06AD</small><br />
      <small>E471 13CE 42FD 3C33 F935</small>
    </p>
  </div>
</section>
{% endif %}
