{% if site.twitter_user %}
<section>
  <a href="http://twitter.com/{{ site.twitter_user }}" rel="me" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>

  <div id="about-alex">
    <p>
    Alex Sexton lives in Austin TX, and is an engineer at <a href="https://stripe.com/">Stripe</a>.
    He is on the <a href="http://modernizr.com/">Modernizr</a> core team, the
    <a href="https://jquery.org/team/">jQuery Board of Directors</a>, as well as the <a href="http://dojofoundation.org/about/board-members">Dojo Foundation Board</a>.
    </p>
    <p>
    His recent favorite projects include the
    <a href="https://github.com/SlexAxton/messageformat.js">messageformat.js</a> i18n
    library and the <a href="https://github.com/SlexAxton/require-handlebars-plugin">require-handelbars-plugin</a>.
    He also runs the <a href="http://texasjavascript.com/">Texas JavaScript Conference (TXJS)</a> annually
    in Austin, and helps organize the <a href="http://austinjavascript.com/">Austin JavaScript</a>
    monthly meetup.
    </p>

    <p>
      I'm <em>SlexAxton</em> many places, including <a href="https://github.com/SlexAxton" rel="me">Github</a>,
      <a href="https://www.google.com/+AlexSexton" rel="me">Google Plus</a>, and <a href="https://www.flickr.com/photos/slexaxton/" rel="me">Flickr</a>.
    </p>

    <p>
    Here's my <a target="_blank" href="https://keybase.io/slexaxton/key.asc" rel="pgpkey">Public GPG Key</a><br />
    <small>verified at <a target="_blank" href="https://keybase.io/slexaxton">keybase.io/slexaxton</a></small><br />
    <small>9D44 FE16 DDD6 80BC 06AD</small><br />
    <small>E471 13CE 42FD 3C33 F935</small>

    </p>
  </div>

</section>
{% endif %}
