{% if site.twitter_user %}
<section>
  <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>

  <div id="about-alex">
    <p>
    Alex Sexton lives in Austin TX, and is an engineer at <a href="https://stripe.com/">Stripe</a>.
    He is on the <a href="http://modernizr.com/">Modernizr</a> core team, and the
    <a href="https://jquery.org/team/">jQuery Board of Advisors</a>.
    </p>
    <p>
    His recent favorite projects include the
    <a href="https://github.com/SlexAxton/messageformat.js">messageformat.js</a> i18n
    library and the <a href="https://github.com/SlexAxton/require-handlebars-plugin">require-handelbars-plugin</a>.
    He also runs the <a href="http://texasjavascript.com/">Texas JavaScript Conference (TXJS)</a> annually
    in Austin, and helps organize the <a href="http://austinjavascript.com/">Austin JavaScript</a>
    monthly meetup.
    </p>
  </div>

</section>
{% endif %}
