/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #151515;
    -webkit-font-smoothing: antialiased; 
}

#main {
    max-width: 680px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

h1, .entry-title {
    font-size: 42px;
    margin: 0;
    margin-top: 24px;
    line-height: 52px;
}
.entry-content {
    font-size: 20px;
    line-height: 32px;

    margin-top: 24px;

    font-family: "Source Serif 4", Georgia, Cambria, "Times New Roman", Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.entry-content p {
    margin-top: 42px;
}

.entry-content ul {
    padding-left: 16px;
    margin-top: 32px;
    list-style-type: disc;
}

#content footer {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid #e5e5e5;
}

h2 {
    margin-top: 42px;
    font-size: 32px;
    line-height: 42px;
}
h3 + :is(.entry-content p),
h2 + :is(.entry-content p) {
    margin-top: 16px;
}
h3 {
    margin-top: 28px;
    font-size: 28px;
    line-height: 38px;
}
h4,h5,h6 {
    margin-top: 24px;
    font-size: 24px;
    line-height: 32px;
}

h1,h2,h3,h4,h5,h6 {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
}

.meta {
    margin-top: 8px;
    font-size: 14px;
    color: #353535;
}

body > footer {
    margin: 16px auto;
    font-size: 14px; 
    max-width: 680px;
    color: #454545;
    padding-right: 16px;
    padding-left: 16px;
}

a[href] {
    text-decoration: none;
    color: #5469d4;
}
a[href]:hover {
    text-decoration: underline;
}

.highlight {
    margin-top: 32px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: monospace;
}

hr {
    margin-top: 32px;
}


blockquote {
    font-style: italic;
    font-weight: 600;
    padding-left: 16px;
    border-left: 1px solid #a5a5a5;
}

